.slides {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Staatliches', cursive;
  }

.panel .sections .menu li {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  margin: 0 10px;
}

.panel .sections .menu li a {
  padding: 0 1px;
  opacity: 0.8;
}

.slides.animated .kenBurns .background,
.slides.animated .kenBurns.zoomin .background,
.slides.animateOnEvent .kenBurns .background,
.slides.animateOnEvent .kenBurns.zoomin .background {
  opacity: 0.9;
}

h1 {
  font-family: 'Futura';
  font-size: 3em;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

.fade-6 .content {
  background: rgba(0, 0, 0, 0);
}
#lalala {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  bottom: 0;
  left: 0;
}

#lalala h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

#hometop {
  position: fixed;
  top: 4em;
  left: 4em;
}

#closer {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 4em;
}

#maintitle {
  color: red;
}

.sidebar .subList li {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 36px;
  padding-left: 1em;
}

.topmargin {
  margin-bottom: 10em;
}

.lastofslide {
  margin-bottom: 15em;
}

.smallmarginbottom {
  margin-bottom: 2em;
}

#editor {
    position: absolute;
    width: 500px;
    height: 400px;
}

p > a {
  text-decoration: underline;
}

.text_1 .text_2 .text_3 .text_4 .text_5 .text_6 .text_7{
  display: none;
}


.metaph {
  display: none;
  background-color: yellow;
}

.simile {
  display: none;
  background-color: tomato;
}

.thirdp {
  display: none;
  background-color: turquoise;
}

.quotes {
  display: none;
  background-color: green;
}

.person {
  display: none;
  background-color: rgb(88, 64, 224);
}

.retquest {
  display: none;
  background-color: rgb(224, 64, 216);
}

.nick {
  display: none;
  background-color: rgb(64, 224, 144);
}

.vs {
  display: none;
  background-color: rgb(200, 224, 64);
}

.paradox {
  display: none;
  background-color: rgb(211, 21, 21);
}

.foul {
  display: none;
  background-color: rgb(100, 99, 40);
}

.relig {
  display: none;
  background-color: rgb(255, 255, 255);
}

.cores {
  display: none;
  background-color: rgb(107, 64, 224);
}

div .text_corpus {
  height: 80vh;
  width: 80vw;
  overflow-y: scroll;
  text-align: justify !important;
}

div .vhh {
  height: 100vh;
}
