.slides {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Staatliches', cursive;
  }

.panel .sections .menu li {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  margin: 0 10px;
}

.panel .sections .menu li a {
  padding: 0 1px;
  opacity: 0.8;
}

.slides.animated .kenBurns .background,
.slides.animated .kenBurns.zoomin .background,
.slides.animateOnEvent .kenBurns .background,
.slides.animateOnEvent .kenBurns.zoomin .background {
  opacity: 0.9;
}

h1 {
  font-family: 'Futura';
  font-size: 3em;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

.fade-6 .content {
  background: rgba(0, 0, 0, 0);
}
#lalala {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  bottom: 0;
  left: 0;
}

#lalala h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

#hometop {
  position: fixed;
  top: 4em;
  left: 4em;
}

#closer {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 4em;
}

#maintitle {
  color: red;
}

.sidebar .subList li {
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 36px;
  padding-left: 1em;
}

.topmargin {
  margin-bottom: 10em;
}

.lastofslide {
  margin-bottom: 15em;
}

.smallmarginbottom {
  margin-bottom: 2em;
}

#editor {
    position: absolute;
    width: 500px;
    height: 400px;
}

p > a {
  text-decoration: underline;
}

.text_1 .text_2 .text_3 .text_4 .text_5 .text_6 .text_7{
  display: none;
}

/* styling of highlighted text */
.hmetaph {
  background-color: rgb(252, 186, 3);
}

.hsimile {
  background-color: tomato;
}

.hthirdp {
  background-color: turquoise;
}

.hquotes {
  background-color: green;
}

.hperson {
  background-color: rgb(88, 64, 224);
}

.hretquest {
  background-color: rgb(224, 64, 216);
}

.hnick {
  background-color: rgb(64, 224, 144);
}

.hvs {
  background-color: rgb(153, 171, 50);
}

.hparadox {
  background-color: rgb(211, 21, 21);
}

.hfoul {
  background-color: rgb(100, 99, 40);
}

.hrelig {
  background-color: rgb(138, 134, 125);
}

.hcores {
  background-color: rgb(107, 64, 224);
}

/* styling of rhetorical device buttons */
.bmetaph {
  background-color: rgb(252, 186, 3);
}

.bsimile {
  background-color: tomato;
}

.bthirdp {
  background-color: turquoise;
}

.bquotes {
  background-color: green;
}

.bperson {
  background-color: rgb(88, 64, 224);
}

.bretquest {
  background-color: rgb(224, 64, 216);
}

.bnick {
  background-color: rgb(64, 224, 144);
}

.bvs {
  background-color: rgb(153, 171, 50);
}

.bparadox {
  background-color: rgb(211, 21, 21);
}

.bfoul {
  background-color: rgb(100, 99, 40);
}

.brelig {
  background-color: rgb(138, 134, 125);
}

.bcores {
  background-color: rgb(107, 64, 224);
}



div .text_corpus {
  overflow-y: scroll;
  text-align: justify !important;
  height: 80vh;
}

div .vhh {
  height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

iframe {
  margin-left: -5vw;
  height: 150vh;
  width: 100vw;
  background-color: #202020;
  overflow: hidden;
}

.examplespeech {
  font-style: italic;
  background-color: grey;
}

.terms {
  color: white !important;
}

em {
  color: rgb(148, 209, 247);
  font-style: normal;
}

#webvowl {
  height: 80vh;
  width: 100%;
  align-self: center;
}

p > span > a {
  text-decoration: underline;
}
